* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a { color: inherit; } 

.nav-bar {
    background-color: #1f2937;
    color: #fff;
    width: 100%;
    padding: 0px 10px 60px 10px;
}

.nav-bar .nav-container {
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 20px;

}

.nav-logo {
    display: flex;
    font-size: 25px;
}

.nav-menu {
    display: flex;
    color: white;
    gap: 15px;
}
nav ul li {
    list-style: none;
}
.nav-bar nav {
    display: flex;
    gap: 15px;
}
.nav-bar .button a {
    color: black;
    padding: 12px 8px;
    border-radius: 13px;
    background-image: linear-gradient(to right, orange, yellow, blue, black);
    background-size: 300%;
    transition: all ease 0.5s;
}


.nav-bar .button a:hover {
    background-position: 100% 0;
    color: #fff;
}
.header-container
{
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media only screen and (max-width: 700px) {
    * {flex-wrap: wrap;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    
    }
}
.header-item
{
    display: flex;
    width: 550px;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.header-text {
    color: gray;
}
.header-photo {
    display: flex;
    width: 550px;
    justify-content: center;
}
.header-container .button a {
    color: #fff;
    padding: 8px 30px;
    border-radius: 13px;
    background-image: linear-gradient(to right, red, rgb(150, 42, 60), rgb(6, 53, 6), rgb(85, 238, 85));
    background-size: 300%;
    transition: all ease 0.5s;
}


.header-container .button a:hover {
    background-position: 100% 0;
    color: yellow;
}